<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>실습1</title>
</head>
<body>
<form action="/ex/task01" method="post">
    <table border="1">
        <tr>
            <td>상품명</td>
            <td>상품가격</td>
            <td>상품재고</td>
            <td>상품브랜드</td>
        </tr>
        <tr>
            <td><input type="text" name="productName"></td>
            <td><input type="text" name="productPrice"></td>
            <td><input type="text" name="productEa"></td>
            <td><input type="text" name="productBrand"></td>
        </tr>
    </table>
    <button>입력</button>
</form>
</body>
</html>