<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>출퇴근등록</title>
</head>
<body>
<form action="/ex/work" method="post">
    <input type="text" name="name" placeholder="이름를 입력해주세요">
    <input type="hidden" name="date" formaction="">
    <button>출근</button>
    <button>퇴근</button>
</form>
</body>
<script>
    var date = document.querySelector("input[name='date']")
    console.log(date);
    const time = new Date();
    const hour = time.getHours();
    const minutes = time.getMinutes();
    const seconds = time.getSeconds();
    date.value = hour + ":" + minutes + ":" + seconds;
</script>
</html>